.form-body{
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

@keyframes example {
    from {left: -1000px;}
    to {left: 1%;}
}

.user-input-frame{
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 99%;
  width: 95%;
  max-width: 700px;
  animation-name: example;
  animation-duration: 0.6s;
  display: flex;
  flex-direction: column;
}

.user-location-info{
  flex: 2;
  background-color: transparent;
  border-bottom: solid;
  border-width: thin;
  margin-right: 5%;
  margin-left: 5%;
}
.user-yield-info{
  flex: 1;
  background-color: transparent;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
  border-width: thin;
  display: flex;
  flex-direction: column;
}

.user-data-info{
  background-color: transparent;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user-data-type{
  flex: 3;
  background-color: transparent;
  margin-left: 5%;
  font-size: 100%;
  max-width: 130px;
}
.user-data-value-container{
  background-color: white;
  flex: 1.9;
  display: flex;
  flex-direction: row;
  max-width: 99px;
}

.user-data-value{
  flex: 2;
  text-align: right;
  font-size: 130%
}
.user-data-unit{
  flex: 3.4;
  text-align: left;
  background-color: transparent;
  font-weight: bold;
  font-size: 80%;
  margin-left: 2%;
}

.shade-blank-space{
  background-color: transparent;
  flex: 2;
}

.mat-ui-slide-bar{
  background-color: transparent;
  flex: .5;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-shading-info{
  flex: 1;
  background-color: transparent;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
  border-width: thin;
  display: flex;
  flex-direction: column;
}

.user-irrigation-info{
  flex: 1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
  border-width: thin;
}

.user-irrigation-input-container{
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}

.user-slope-info{
  flex: 1;
  background-color: transparent;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: solid;
  border-width: thin;
  display: flex;
  flex-direction: column;
}


.model-button{
  flex: 0.7;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}


.user-data-type-check{
  background-color: transparent;
  margin-left: 10%;
  margin-right: 5%;
}

.additional-local-info{
  flex: 3;
  background-color: #e8e8ee;
  display: flex;
  flex-direction: column;
}

.advanced-user-input{
  font-size: 12px;
  text-align: center;
  background-color: transparent;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border-bottom: solid;
  border-width: thin;
}

.statement-to-user{
  font-size: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.user-data{
  font-size: 12px;
  margin-left: 5%;
}
.data{
  font-size: 10px;
  background-color: transparent;
  float: right;
  margin-right: 10%;
}
