.modelData-body{
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.button-home{
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optimized-data-frame{
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 99%;
  width: 95%;
  max-width: 700px;
  animation-name: example;
  animation-duration: 0.6s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.optimized-shade-title{
  font-size: 22px;
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
}

.Not-irrigated-graph-container{
  height: 200px;
  width: 85%;
  margin: 5%;
}

.extra-info-pannel{
  display: flex;
  flex-direction: column;

}

.extra-info-shade{
  flex: 3;
  margin: 5%;
  padding: 1.5%;
  font-size: 20px;

}

.return-to-map-button{
  width: 50%;
  height: 30px;
  background-color: red;
}
