#map {
  position: absolute;
  max-width: 700px;
  width: 100vw;
  height: 57%;
  background-color: grey;
}

#global {
}

.map-container-div {
  max-width: 700px;
  width: 100vw;
  height: 57%;
}

.controler-box {
  background-color: transparent;
  position: absolute;
  left: 530px;
  z-index: 1;
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#pac-input {
  position: absolute;
  max-width: 300px;
  z-index: 1;
  margin-top: 10px;
  background-color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  margin-left: 5%;
  text-overflow: ellipsis;
  width: 40%;
}

input:focus,
textarea:focus {
  box-shadow: 2px 2px 20px #000000;
  border: 1px solid #000000;
}

input[type="text"],
textarea {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  outline: none;
  border: 1px solid #dddddd;
}
