.logo{
  background-image: url('./../images/logo.png');
  background-size: contain;
  width: 90px;
  height: 100px;
}


.mainPage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.login-signup{
  justify-content: space-around;
}

.orline{
  margin: 15px;
}

.fb-goog{
  margin-top: 20px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}
